<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Book Recommendation</title>
    <style>
        body {
            background-color: beige;
            color: white;
        }
        .message {
            color: white;
            font-size: 1.5em;
        }
    </style>
</head>
<body>
    <h1>Book Recommendations</h1>
    <form action="/recommend_books" method="post">
        <input type="text" name="user_input" placeholder="Enter book title">
        <button type="submit">Search</button>
    </form>
    {% if message %}
        <p class="message">{{ message }}</p>
    {% else %}
        <div>
            {% for book in data %}
                <div>
                    <h2>{{ book[0] }}</h2>
                    <p>{{ book[1] }}</p>
                    <img src="{{ book[2] }}" alt="{{ book[0] }}">
                </div>
            {% endfor %}
        </div>
    {% endif %}
</body>
</html>
