asttokens 
backcall 
blinker==1.8.2
click==8.1.7
colorama 
comm 
debugpy
decorator
exceptiongroup 
executing 
Flask==3.0.3
gunicorn==22.0.0
importlib-metadata 
ipykernel 
ipython 
itsdangerous==2.2.0
jedi 
Jinja2==3.1.4
joblib==1.4.2
jupyter_client 
jupyter_core 
MarkupSafe==2.1.5
matplotlib-inline 
nest-asyncio 
numpy==1.23.5
packaging 
pandas==1.5.3
parso 
pickleshare 
platformdirs 
prompt-toolkit 
psutil 
pure-eval 
Pygments 
python-dateutil 
pytz==2024.1
pywin32==305.1
pyzmq 
scikit-learn==1.5.1
scipy==1.13.1
six 
stack-data 
threadpoolctl==3.5.0
tornado 
traitlets 
typing_extensions 
wcwidth 
Werkzeug==3.0.3
zipp 
